#!/bin/sh 

. /usr/share/debconf/confmodule || exit 0

db_input high fhoss/dbinit
db_go 
db_get fhoss/dbinit || true
if [ "$RET" = "true" ]; then
	RETRY=1
	while [ $RETRY -ne 0 ]; do
		PASS=
		db_input high fhoss/dbpass
		db_go
		db_get fhoss/dbpass || true
		if [ -n "$RET" ]; then
			PASS="-p'$RET'"
		fi
				
		zcat /usr/share/doc/fhoss/examples/hss_db.sql.gz | mysql -u root $PASS 2>/dev/null > /dev/null
		zcat /usr/share/doc/fhoss/examples/userdata.sql.gz | mysql -u root $PASS 2>/dev/null > /dev/null
		if [ $? -ne 0 ]; then
			db_input high fhoss/dberror 
			db_go 
			db_get fhoss/dberror || true
			if [ "$RET" = "cancel" ]; then
				RETRY=1
			fi
		else
			RETRY=0
		fi
	done
fi

db_go || true
