#!/bin/bash
# Source debconf library.
. /usr/share/debconf/confmodule

#################################################################################
# Welcome
#################################################################################
#Ask question
db_input critical openimscore-fhoss/welcome
db_go

#################################################################################
# Ask for java
#################################################################################
#Looking for java
#JAVA_EXEC=`which java 2>/dev/null`
#Ask question
#db_set openimscore-fhoss/where_is_java $JAVA_EXEC
db_input critical openimscore-fhoss/where_is_java
db_go

#################################################################################
# Ask for domain name
#################################################################################
#Ask question
db_input critical openimscore-fhoss/domain_to_use
db_go

#################################################################################
# Ask for IP 
#################################################################################
#Try to get the IP address
IPADDR=`ifconfig|grep -woE '(([0-9]{1,3}\.){3}[0-9]{1,3})' | head -n 1 2>/dev/null`
#Ask question
#db_set openimscore-fhoss/ip_to_use $IPADDR
db_input critical openimscore-fhoss/ip_to_use
db_go

#################################################################################
# Ask for IP of DNS
#################################################################################
#Try to get the IP address of DNS
IPADDRDNS=`ifconfig|grep -woE '(([0-9]{1,3}\.){3}[0-9]{1,3})' | head -n 1 2>/dev/null`
#Ask question
#db_set openimscore-fhoss/dns_ip_to_use $IPADDRDNS
db_input critical openimscore-fhoss/dns_ip_to_use
db_go

#################################################################################
# Ask for adding data to MySQL
#################################################################################
#Ask question
db_input critical openimscore-fhoss/sql_data
db_go

#################################################################################
# Ask for adding users
#################################################################################
#Ask question
db_input critical openimscore-fhoss/adding_user
db_go

#################################################################################
# Ask for the MySQL password
#################################################################################
#Ask question
#FIXME: ASk Question only if needed (adding data/users into mysql)
db_input critical openimscore-fhoss/sql_password
db_go

#################################################################################
# Ask for hss configuration
#################################################################################
#Ask question
db_input critical openimscore-fhoss/hss_config
db_go




