#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

ANT=ant

CFLAGS = -Wall -g
PROPERTIES=-Dpath.deploy=$(CURDIR)/debian/openimscore-fhoss/usr/share/java/fhoss-0.2 \
	-Dpath.doc=$(CURDIR)/debian/openimscore-fhoss-doc/usr/share/doc/fhoss \
	-Dpath.config=$(CURDIR)/debian/openimscore-fhoss/usr/share/java/fhoss-0.2

configure: configure-stamp
configure-stamp: patch
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	PATH=/usr/lib/jvm/java-6-sun/bin/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games; \
	$(ANT) $(PROPERTIES) compile

	touch $@
	@REVISION=`svn info|grep Revision|awk '{print $$2}'`; \
	echo "svn:Revision=$$REVISION" > $(CURDIR)/debian/substvars

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	debconf-updatepo

	# Add here commands to clean up after the build process.
	$(ANT) $(PROPERTIES) cleanall
	@rm -f $(CURDIR)/debian/substvars

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/openimscore-fhoss.
	$(ANT) $(PROPERTIES) deploy jdoc 


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman fhoss.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -Tdebian/substvars
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
